# --- Система и логи ---
.git
.gitignore
.gitattributes
README.md
LICENSE
*.log
*.error
.DS_Store
Thumbs.db

venv/
.venv/
env/
python_env/
packages/
.pnpm-store/

.cache/
.npm/
.yarn/
.pytest_cache/
.coverage
htmlcov/
*.pyc
*.pyo
*.pyd
__pycache__/
.mypy_cache/
.ruff_cache/
staticfiles/
*.sqlite3

.env
.env.local
.env.*.local
*.pem
*.key
.aws/
.gcloud/
.vscode/
.idea/
.project
.classpath
